<!-- Global container -->
<div class="min-h-screen py-24 mx-auto bg-cyan-600">
    <h1 class="text-3xl text-center">Hero component</h1>
    
    <!-- Table container -->
    <div class="bg-cyan-300">
        <!-- Table -->
        <!-- my-table.component.html -->
        <table>
            <thead>
            <tr>
               
               <ng-container>
                <ng-container>
                    @for(header of headers; track header){
                        <th class="test"> {{header}}</th>
                    }
                    
                </ng-container>
                
               </ng-container> <!-- Dynamically create a table header for each item in the 'headers' array -->
                
               

                <th> help test</th>
            </tr>
            </thead>
            <tbody>
            <!-- Table data here -->

            
            
            </tbody>
        </table>
  
    </div>
    
    
</div>

